<div class="card card-rounded">
    <table class="table">
        <!-- <tbody> -->
          <tr>
            <td>
              <input type="text"  placeholder="Buscar"><input>
            </td>
          </tr>
          <tr>
            <div class="card">
                <div>
                    <img src="{{pokemon.image}}">
                </div>
                
                <div class="sm-3">
                    <label>Pokemon :{{pokemon.name}}</label>
                </div>
                <div class="sm-3">
                    <label>Ataque : {{pokemon.name}}</label>
                </div>
                <div class="sm-3">
                    <label>Defensa : {{pokemon.name}}</label>
                </div>
            </div>
          </tr>
        <!-- </tbody> -->
      </table>
</div>
